<template>
  <div class="to-do-container">
    <div class="create-container">
      <input v-model="nameOfNewPony" type="text">
      <button @click="create">
        Add
      </button>
      <slot></slot>
    </div>
    <div class="to-do-list-container">
      <ListPonyItem v-for="pony in poney" :key="pony.id"  :pony="pony" v-on:delete="deleteItem"/>
    </div>
  </div>

</template>

<script>
export default {
  name: 'AddPoneyComponent',
  props: {
    poney: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      nameOfNewPony: ''
    }
  },
  methods: {
    create() {

      this.poney.push({ id: (this.poney.length  +1).toString(), name: this.nameOfNewPony, couleur:'jaune'})
      this.nameOfNewPony = '';
    },
    deleteItem(item) {
      console.log(item);
      this.poney.splice(this.poney.indexOf(item),1);
    }
  }
}
</script>

