<template>
  <div class="to-do-container">
    <div class="create-container">
      <input v-model="nameOfNewPost" type="text">
      <input v-model="contentOfNewPost" type="text">
      <button @click="create">
        Add
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AddPostsComponent',
  props: {
    posts: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      nameOfNewPost: '',
      contentOfNewPost: ''
    }
  },
  methods: {
    async create() {

     let data = await this.$services.posts.create(this.nameOfNewPost, this.contentOfNewPost);
       console.log(data);


      this.nameOfNewPost = '';
      this.contentOfNewPost = '';
    },
    deleteItem(item) {
      console.log(item);
      this.poney.splice(this.poney.indexOf(item),1);
    }
  }
}
</script>

