<template>
  <div>
    <span>{{pony.name}}</span>
    <em>{{pony.couleur}}</em>
    <div>
      <button @click="deleteItem"> Supprime le poney</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    pony : {
      type: Object,
      default () {
        return {};
      }
    }
  },
  methods:  {
    deleteItem () {
      console.log(this.pony);
      this.$emit('delete',this.pony);
    }
  }
}
</script>
<style>

</style>
