<template>
  <div >
    <h1>Ajoute  un posts</h1>

    <button @click="show = !show">Appuie moi</button>

    <Transition name="pasdinspi"
    @enter="onEnter"
                @before-enter="onBeforeEnter"

    >
      <p v-if="show"> Regardez moi </p>
    </Transition>
    <Transition name="pasdinspi">
      <p v-if="show"> Regardez moi </p>
    </Transition>
    <Transition name="pasdinspi">
      <p v-if="show"> Regardez moi </p>
    </Transition>
    <Transition name="pasdinspi">
      <p v-if="show"> Regardez moi </p>
    </Transition>    <Transition name="pasdinspi">
    <p v-if="show"> Regardez moi </p>
  </Transition>    <Transition name="pasdinspi">
    <p v-if="show"> Regardez moi </p>
  </Transition>



    <AddPosts :posts="posts" />

  </div>

</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'AjoutPostsPage',
  transitions: {

  },

  data (){
    return {
      posts: Array,
      show : false

    }
  },
  methods: {
    onBeforeEnter(el){},
    onEnter(el, done){

      done();
    },
    onAfterEnter(el){

    },
    onBeforeLeave(el){},
    onLeave(el, done){

      done();
    },
    onAfterLeave(el){

    },

  }
})

</script>
<style >
.addPost-enter  {
  background: red ;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.addPost-enter-active, .addPost-leave-active{
  transition-delay: 5000ms;
  background: purple;
}

.addPost-enter-to {

}
.addPost-leave {

}

.addPost-leave-to {

}
.pasdinspi-enter  {
  opacity: 0;

}

.pasdinspi-enter-active, .pasdinspi-leave-active{
  transition: opacity 0.5s ease;
}

.pasdinspi-enter-to {

}
.pasdinspi-leave {

}

.pasdinspi-leave-to {
  opacity: 0;

}
</style>
