<template>
  <div >
    <h1>Ajoute  un poney</h1>
    <AddPoney :poney="poney" ><p>ok</p> </AddPoney>

  </div>

</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'AjoutPoneyPage',
  data (){
    return {
      poney: Array
    }
  },
  head() {
    return {
      title: 'oklok',
      meta : [{
        name : 'description',
        content: 'okokokok, tulipe, fleur,',
      }, {
        name : 'tags',
         content: 'tag1, tag2 ,tag3 '
      }],
      script :[{
        src : 'cdn'
      }],
      link: [{
        rel : 'stylesheet',
        src : 'lien'
      }]
    }
  },
  async asyncData (ctx) {
    const data = await ctx.app.$services.posts.findAll();
    console.log(data);


    return {
      poney: [
        {
          "id" : "1",
          "name" : "Vif Eclair",
          "couleur" : "Rouge"
        },
        {
          "id" : "2",
          "name" : "Lent tonnerre",
          "couleur" : "Vert"
        }
      ],
      posts: data
    }
  }
})

</script>
<style>

</style>
